.ant-input-search input {
  background-color: #F7F8F9;
  border-color: #F7F8F9;
  border-radius: 2px;

  &::-webkit-input-placeholder {
    font-size: 15px;
    color: #202020;
    opacity: 0.5;
  }
}

.ant-input-search.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-left: 38px;
  padding-right: 0;
}

.ant-input-search.ant-input-affix-wrapper .ant-input-suffix {
  left: 12px;
  right: auto;
}

.ant-input-search-icon {
  font-size: 18px;
}