.ant-btn.btn-base {
  font-weight: 500;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  &:last-child {
    margin-top: 10px;
  }
}

.ant-btn.btn-secondary {
  background-color: #59d539;
  border-color: #59d539;
}

.ant-btn.btn-secondary:hover, .ant-btn.btn-secondary:focus {
  color: #fff;
  background-color: lighten(#59d539, 15%);
  border-color: lighten(#59d539, 15%);
}

.ant-btn.btn-secondary:active {
  color: #fff;
  background-color: darken(#59d539, 15%);
  border-color: darken(#59d539, 15%);
}