.editor {
  display: flex;
  align-items: center;
  padding: 5px 32px;
}

.editor-inner {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  width: 100%;
  max-height: 144px;
  min-height: 35px;
  padding: 5px 12px;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  background-color: #F7F8F9;
  border-color: #F7F8F9;
  border-radius: 35px;
  // overflow-y: auto;
  box-sizing: border-box;
}

.attach-file {
  display: flex;
  margin-right: 3px;
}

.emoji-insert_btn {
  position: absolute;
  right: 10px;
  bottom: 1px;
  z-index: 1;
}

.message-send.ant-btn-lg {
  padding: 0;
}

.ant-input {
  resize: none;
}

.ant-input.send-textarea {
  padding: 8px 11px;
  background-color: #F7F8F9;
  border-color: #F7F8F9;
  border-radius: 35px;

  &::-webkit-input-placeholder {
    font-size: 15px;
    color: #202020;
    opacity: 0.5;
  }
}

.ant-input.send-textarea:hover {
  border-color: transparent;
}

.ant-input.send-textarea:focus {
  border-color: transparent;
  box-shadow: none;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  pointer-events: none;
}