.ant-skeleton.ant-skeleton-with-avatar {
  width: auto;
  
  & > div {
    padding: 0;
  }
}

.peer-upload_avatar.ant-upload-picture-card-wrapper {
  width: auto;
}

.peer-upload_avatar .ant-upload.ant-upload-select-picture-card {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0;
  margin-right: 0;
  margin-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 50%;
    background: rgba(0,0,0,0.5) url('../../img/edit.svg') no-repeat center/14px;
    transition: opacity 0.15s;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;

    &:before {
      opacity: 1;
    }
  }
}

.ant-upload.ant-upload-select-picture-card > .ant-upload[role=button] {
  padding: 0;
}

.peer-upload_avatar.invisibility {
  pointer-events: none;
}

.invisibility .ant-upload {
  background: #f1f1f1;
  border-radius: 50%;
}

.ant-upload[role=button] .ant-spin {
  position: static;
}