.btn-dropdown {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: opacity 0.15s, background-color 0.15s;

  &:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, .04);
  }

  &:active, &:focus {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, .04)
  }
}

.dropdown-icon {
  width: 20px;
  height: 20px;
}

.logout-btn {
  font-weight: 500;
  color: #f03d25;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.7;
  }

  &:active, &:focus {
    opacity: 0.5;
  }
}