.ant-input-search input {
  background-color: #F7F8F9;
  border-color: #F7F8F9;
  border-radius: 35px;

  &::-webkit-input-placeholder {
    font-size: 15px;
    color: #202020;
    opacity: 0.5;
  }
}

.ant-input-search.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: transparent;
}

.ant-input-affix-wrapper {
  height: 40px;
}

.ant-input-search.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-left: 38px;
  padding-right: 0;
}

.ant-input-search.ant-input-affix-wrapper .ant-input-suffix {
  pointer-events: none;
  left: 12px;
  right: auto;
}

.ant-input-search .ant-input-suffix {
  width: calc(100% - 12px);
}

.ant-input-search .ant-input-suffix .ant-input-search-icon,
.ant-input-clear-icon {
  pointer-events: auto;
}

.ant-input-search .ant-input-suffix .ant-input-clear-icon {
  position: absolute;
  right: 12px;
}

.ant-input-search .ant-input-suffix .ant-input-clear-icon + i {
  margin-left: 0;
}

.ant-input-search-icon {
  font-size: 18px;
}