.navbar {
  position: relative;
  display: flex;
  padding: 10px 35px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.navbar-profile {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ant-typography.navbar-profile_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.profile-status {
  position: relative;
  font-size: 12px;
  text-align: center;
  .online-status {
    right: auto;
    left: -2px;
    bottom: calc(50% - 8px);
  }
}

.navbar-dropdown {
  align-self: center;
}

.dropdown-icon {
  fill: #323232;
}