.readed-message {
  position: absolute;
  left: -20px;
  display: block;
  width: 16px;
  height: 16px;
}

.readed-icon {
  background: url('../../img/dubble_check.svg') no-repeat center/contain;
}

.readed-icon-no {
  background: url('../../img/check.svg') no-repeat center/contain;
}