.ant-popover .ant-popover-inner-content {
  padding: 6px 15px;
}

.ant-popover.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
  border-right-color: #2a2a2a;
  border-bottom-color: #2a2a2a;
  bottom: 5.2px;
}

.ant-popover .ant-popover-arrow {
  width: 18.485281px;
  height: 18.485281px;
  border-width: 7.24264069px;
}

.ant-popover .ant-popover-inner {
  background-color: #2a2a2a;
  border-radius: 10px;
}

.ant-btn.btn-danger {
  color: #fff;

  &.ant-btn-link,
  &.ant-btn:focus {
    color: #fff;
  }
}