.ant-btn.btn-base {
  font-weight: 500;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  &:last-child {
    margin-top: 10px;
  }
}

.ant-btn.btn-secondary {
  background-color: #59d539;
  border-color: #59d539;
}

.ant-btn.btn-secondary:hover, .ant-btn.btn-secondary:focus {
  color: #fff;
  background-color: lighten(#59d539, 15%);
  border-color: lighten(#59d539, 15%);
}

.ant-btn.btn-secondary:active {
  color: #fff;
  background-color: darken(#59d539, 15%);
  border-color: darken(#59d539, 15%);
}

.ant-btn.ant-btn-primary[disabled],
.ant-btn.ant-btn-primary[disabled]:hover {
  border-color: #f5f5f5;
}

.ant-btn.button-emoji {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  height: auto;
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  transform: translateY(-50%);

  &:hover {
    border-color: transparent;
    background-color: transparent;
    opacity: 0.6;
  }

  &:focus {
    border-color: transparent;
    background-color: transparent;
  }

  &:active {
    border-color: transparent;
    background-color: transparent;
    opacity: 0.2;
  }
}

.btn-delete {
  position: relative;
  font-size: 13px;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: transparent url('../../img/basket.svg') no-repeat center/contain;
  border: 0;
  transition: opacity 0.15s;
  cursor: pointer;

  &:hover, &:active {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }
}

.ant-btn.btn-cancel,
.ant-btn.btn-del {
  font-size: 15px;
  font-weight: 400;
  color: #3796ee;
  border: 0;
  box-shadow: none;
  background: none;
  border-color: transparent;
  text-shadow: none;
}

.ant-btn.btn-cancel:hover, .ant-btn.btn-cancel:focus {
  background-color: #f2f6fa;
}

.ant-btn.btn-cancel:active, .ant-btn.btn-cancel.active {
  color: #3796ee;
  background-color: darken(#f2f6fa, 4%);
  border-color: transparent;
}

.ant-modal-confirm-btns .ant-btn.ant-btn-danger {
  background-color: transparent;
  color: #f03d25;
}

.ant-modal.ant-modal-confirm .ant-modal-confirm-btns button + button {
  margin-left: 0;
}

.ant-btn.ant-btn-danger.btn-del:hover {
  color: #f03d25;
  background-color: #ffefef;
}

.ant-btn.ant-btn-danger.btn-del:active, .ant-btn.ant-btn-danger.btn-del.active {
  color: #f03d25;
  background-color: darken(#ffefef, 4%);
  border-color: transparent;
}