.navbar {
  position: relative;
  display: flex;
  min-height: 65px;
  height: 65px;
  padding: 10px 35px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
}

.navbar-peer {
  display: flex;
  align-items: center;
}

.navbar-peer-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #323232;
  margin-left: 12px;
}

.profile-peer-status {
  position: relative;
  font-size: 13px;
  color: #1583fb;
  font-weight: normal;
  height: 20px;
}

.climb-up-enter {
  transform: translateY(-65px);
}
.climb-up-enter-active {
  transform: translateY(0);
  transition: transform 150ms;
}
.climb-up-exit-active {
  transform: translateY(-65px);
  transition: transform 150ms;
}

.come-down-enter {
  transform: translateY(65px);
}
.come-down-enter-active {
  transform: translateY(0);
  transition: transform 150ms;
}
.come-down-exit-active {
  transform: translateY(65px);
  transition: transform 150ms;
}