.message {
  position: relative;
}

.message-content {
  padding-left: 40px;
}

.ant-typography {
  font-size: 13px;
}

.ant-typography.text-color_white {
  color: #fff;
}

.message-author {
  position: absolute;
  left: 0;
  bottom: 27px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.message-bubble {
  display: inline-block;
  max-width: 400px;
  background: #0084FF;
  border-radius: 15px 15px 15px 0px;
  padding: 8px;
}

.message-create_date {
  font-size: 12px;
  margin-top: 8px;
}